*{
    margin: 0;
    padding: 0;
    
}
.container-fluid{
    color: white;
}
body {
    /* Location of the image */
    background-image: url(topview.jpg);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when
    the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
}
#navfirst{
    background-color: #80523e;
}
.me-2{
    border-radius: 8px;
}
.notes{
    display: flex;
    flex-wrap: wrap;
}
.addNoteContainer{
    border-radius: 19px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.input_title{
    border: none;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 6px;

}
.input_descp{
    border: none;
}

.button_save{
    border-radius:  10px;
}
.card{
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.card_btns{
    border-radius: 50%;
    padding: 7px;
    
}
#navAddNote{
    background-color: #d0b0a2;
    color: white;
}